.skills{
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.skills-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.skill-item{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 560px) {
.skills-container{
    width: 95%;
}
.skills{
    width: inherit;
    justify-content: space-between;
}
.skill-item img{
    width: 200px;
}

.skill-item {
    width: inherit;
}

}
